/* ==============================
   Reset default styles
============================== */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* ==============================
   Body / Background
============================== */
body {
    background-color: #0372DB; /* blue background */
    font-family: "Times New Roman", serif;
}

/* ==============================
   Container
============================== */
.container {
    width: 80%;
    margin: 20px auto;
}

/* ==============================
   Headings
============================== */
h1, h2 {
    background-color: #0372DD; /* slightly darker blue background */
    color: #BFF2F8; /* teal header colour */
    padding: 25px 25px;
    font-size: 30px;
}

/* ==============================
   Paragraphs
============================== */
p {
    color: #FFF8E7; /* creamy white */
    line-height: 1.5;
    font-size: 20px;
}

/* ==============================
   Footer
============================== */
footer {
    background-color: #0372DE; /* slightly darker still (blue) background */
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 6px;
}

/* ==============================
   Buttons
============================== */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: gold; /* Gold button */
    color: gold;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FFF8E7; /* creamy white on hover */
}
